body {
  width: 300px;
  /* height: 300px; */
  font-family: 'Roboto', sans-serif;
  padding: 15px 0;
  color: #222831;
  background: #f5f4f4;
  font-weight: 400;
}
img.icon {
  /* the originally icons have to be the same size */
  width: 19px;
}
img.icon-arrow-right {
  width: 15px;
}
h1 {
  font-size: large;
  font-weight: 700;
  padding: 0 15px 15px 15px;
  border-bottom: solid 2.5px;
  letter-spacing: 1.8px;
}
details,
summary {
  transition: all 0.2s ease;
}
details:hover summary,
details[open] {
  background: #cdc9c3;
}
details[open] summary {
  font-weight: 500;
}
details {
  border-bottom: 1px solid;
}
summary {
  display: flex;
  align-items: center;
  height: 39px;
  padding: 7px 15px;
  cursor: pointer;
}
summary::-webkit-details-marker {
  position: absolute;
  right: 15px;
  margin: 0;
}
details:focus,
summary:focus {
  outline: none !important;
  /* outline: -webkit-focus-ring-color dashed 1.5px; */
  /* outline-offset: 3px; */
}
.nav-icon-padding {
  padding-right: 20px;
}
summary + div {
  padding: 15px;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.details-lang-info {
  display: flex;
  justify-content: space-between;
}
.details-lang-info h6 {
  font-weight: 500;
}
.details-lang-btns {
  padding-top: 8px;
}
button {
  cursor: pointer;
}
.tabs-ul button {
  display: flex;
  align-items: center;
}
.tabs-ul img {
  width: 16px;
}
.tabs-ul li {
  margin: 2px 0;
}
.tabs-ul li:first-of-type {
  margin-top: 0;
}
.tabs-ul li:last-of-type {
  margin-bottom: 0;
}
.tabs-ul button > img:first-of-type {
  padding-right: 3px;
}
.tabs-ul button > img:last-of-type {
  padding-left: 3px;
}
